@inherits FlowbiteComponentBase

<button type="button"
        @onclick="OnClick"
        class="@CombinedClasses"
        @attributes="AdditionalAttributes">
    @ChildContent
</button>

@code {
    /// <summary>
    /// The content to be displayed inside the button, typically an SVG icon.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// The callback to be invoked when the button is clicked.
    /// </summary>
    [Parameter]
    public EventCallback OnClick { get; set; }
    
    /// <summary>
    /// Additional attributes to be applied to the button element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CombinedClasses => CombineClasses(
        "p-2.5 text-gray-600 rounded-lg cursor-pointer " +
        "hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 " +
        "dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
    );
}