@inherits FlowbiteComponentBase

<div @attributes="AdditionalAttributes" class="@GroupClasses" role="group">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>