@inherits FlowbiteComponentBase

<div class="@CombineClasses(
    "relative group rounded-lg border border-gray-200 bg-white shadow-sm dark:border-gray-700 dark:bg-gray-800",
    "hover:shadow-lg hover:shadow-black/10 dark:hover:shadow-slate-900/30",
    "overflow-hidden aspect-2/3",
    "hover:scale-105 hover:-translate-y-1 transition-transform duration-200 ease-out transform-gpu")" >

    <CharacterAvatar Character="Character" SizeToken="l" Class="w-full h-full object-cover" />

    <div class="absolute bottom-0 left-0 right-0 h-2/5 bg-gradient-to-t from-black/75 to-transparent pointer-events-none"></div>

    <div class="absolute inset-0 flex flex-col justify-between">

        <div class="flex justify-end z-10">
            <LrpDropdown Placement="DropdownPlacement.BottomEnd">
                <CustomTrigger>
                    <LrpButton Variant="@LrpButtonStyle.Overlay"
                               Icon="IconTypes.DotsVertical"
                               IconStrokeWidth="3"
                               Color="LrpButtonColor.Grey" />
                </CustomTrigger>
                <ChildContent>
                    <LrpDropdownItem Icon="IconTypes.TrashBin" OnClick="() => OnDelete.InvokeAsync(Character)">Delete</LrpDropdownItem>
                </ChildContent>
            </LrpDropdown>
        </div>

        <div class="p-3">
            <p href="/chat/new/@Character.Id" class="text-xl font-bold text-white drop-shadow-md">
                @Character.Name
            </p>
        </div>

    </div>

    <a href="/chat/new/@Character.Id" class="absolute inset-0" aria-label="Chat with @Character.Name"></a>
</div>

@code
{
    [Parameter, EditorRequired]
    public required Character Character { get; set; }

    [Parameter]
    public EventCallback<Character> OnDelete { get; set; }
}