@page "/chat/new/{CharacterIdForNewChat:guid}"
@inject IChatSessionService ChatSessionService
@inject IToastService ToastService
@inject ICharacterService CharacterService
@inject ILogger<Chat> Logger
@inject NavigationManager Nav
@inject ISettingsService SettingsService

<PageTitle>LiteRP - Chat with @_character?.Name</PageTitle>

<div class="max-w-4xl mx-auto" style="max-width: 90ch;">
    
    <div id="chat-container" class="d-flex flex-column flex-grow-1 p-4 space-y-6 pb-32" style="overflow-y: auto;">
        @foreach (var message in _chatMessageViewModels)
        {
            <ChatMessageView ChatMessage="message" />
        }
    </div>

    <div class="fixed bottom-6 left-0 right-0 md:left-64 mx-auto max-w-[90ch] items-end gap-2">
        <div class="relative">
            @*field-sizing is not available in some browsers*@
            <textarea class="block p-2.5 pr-14 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 
                             dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      @bind="_userInput"
                      placeholder="Write a message..."
                      rows="4"
                      role="textbox"
                      @bind:event="oninput"
                      @onkeypress="HandleKey"/>
            <LrpButton Icon="Icons.PaperPlane" Class="absolute bottom-2 right-2" OnClick="SendMessage"/>
        </div>
    </div>
</div>